<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>选宿舍</title>
</head>

<body>

<div>
    <a href="/">首页</a>
    <a href="/user/register">注册</a>
    <a href="/user/logout">退出</a>
    <a href="/order/result">查看选宿舍结果</a>
</div>
<h1>宿舍列表</h1>
<table style="border: 1px solid; text-align: center; width:420px">
    <tr>
        <td>楼号</td>
        <td>空余床位数</td>
        <td>房间数量</td>
    </tr>
    <% if (dorm_list != null){%>
    <% dorm_list.forEach(function(item){ %>
    <tr>
        <td><%= item.building_name %></td>
        <td><%= item.available_beds %></td>
        <td><%= item.count %></td>
    </tr>
    <% }) %>
    <% } %>
</table>
<h1>选宿舍</h1>
<% if(gender=='女' || gender=='男'){ %>
<table>
    <tr>
        <td>选择宿舍楼：</td>
        <td>
            <% if(gender=='女'){ %>
            <select id="building">
                <option value="5号楼">5号楼</option>
                <option value="13号楼">13号楼</option>
                <option value="14号楼">14号楼</option>
            </select>
            <% } else if(gender=='男'){ %>
            <select id="building">
                <option value="5号楼">5号楼</option>
                <option value="8号楼">8号楼</option>
                <option value="9号楼">9号楼</option>
                <option value="13号楼">13号楼</option>
            </select>
            <% } %>
        </td>
    </tr>
    <tr>
        <td>同住人1认证码</td>
        <td><input id="stucode0" type="text"></td>
        <td><label id="prompt0" style="color: darkred"></label></td>
    </tr>
    <tr>
        <td>同住人2认证码</td>
        <td><input id="stucode1" type="text"></td>
        <td><label id="prompt1" style="color: darkred"></label></td>
    </tr>
    <tr>
        <td>同住人3认证码</td>
        <td><input id="stucode2" type="text"></td>
        <td><label id="prompt2" style="color: darkred"></label></td>
    </tr>
</table>
<p>
    <input id="btn" type="submit" value="提交">
</p>
<% } %>
<p>
    <span id="result"></span>
</p>

<script src="/jquery-1.8.0.js"></script>
<script>

    // 实时检验认证码并提示
    $("#stucode0").change(function () {
        let stucode = $(this).val();
        if (!/^([0-9]{8})$/.test(stucode)) {
            $("#prompt0").text("请输入正确的认证码");
        } else {
            $("#prompt0").text("");
        }
    });
    $("#stucode1").change(function () {
        let stucode = $(this).val();
        if (!/^([0-9]{8})$/.test(stucode)) {
            $("#prompt1").text("请输入正确的认证码");
        } else {
            $("#prompt1").text("");
        }
    });
    $("#stucode2").change(function () {
        let stucode = $(this).val();
        if (!/^([0-9]{8})$/.test(stucode)) {
            $("#prompt2").text("请输入正确的认证码");
        } else {
            $("#prompt2").text("");
        }
    });

    // 提交表单
    $("#btn").click(function () {
        let url = "/order/choose";
        let param = {
            "building": $("#building").val(),
            "stucode0": $("#stucode0").val(),
            "stucode1": $("#stucode1").val(),
            "stucode2": $("#stucode2").val()
        };
        $.post(url, param, function (res) {
            $("#result").html(res)
        });
    })
</script>

</body>

</html>