<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>注册</title>
</head>
<body>
<div>
    <a href="/">首页</a>
    <a href="/user/login">登录</a>
</div>
<h1>注册</h1>
<table>
    <tr>
        <td>手机号：</td>
        <td>
            <input id="phone" type="text">
        </td>
        <td><label id="phone_prompt" style="color: darkred"></label></td>
    </tr>
    <tr>
        <td>学号：</td>
        <td>
            <input id="stu_id" type="text">
        </td>
        <td><label id="stu_prompt" style="color: darkred"></label></td>
    </tr>
    <tr>
        <td>姓名：</td>
        <td>
            <input id="name" type="text">
        </td>
        <td><label id="name_prompt" style="color: darkred"></label></td>
    </tr>
    <tr>
        <td>性别：</td>
        <td>
            <select id="gender">
                <option value="">未选择</option>
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
            <label> </label>
            <label id="gender_prompt" style="color: darkred"></label>
        </td>
    </tr>
    <tr>
        <td>密码：</td>
        <td>
            <input id="password" name="password" type="password">
        </td>
        <td><label id="password_prompt" style="color: darkred"></label></td>
    </tr>
</table>
<p>
    <input id="btn" type="submit" value="注册">
</p>
<p>
    <span id="result"></span>
</p>

<script src="/jquery-1.8.0.js"></script>
<script>
    // 实时检验手机号并提示
    $("#phone").change(function () {
        //获取用户输入的手机号
        let phone = $(this).val();
        if (!/^(13|14|15|17|18)[0-9]{9}$/.test(phone)) {
            $("#phone_prompt").text("请输入正确的手机号")
        } else {
            $("#phone_prompt").text("")
        }
    });
    // 实时检验学号并提示
    $("#stu_id").change(function () {
        let stu_id = $(this).val();
        if (!/^([0-9]{10})$/.test(stu_id)) {
            $("#stu_prompt").text("请输入正确的学号")
        } else {
            $("#stu_prompt").text("")
        }
    });
    // 实时检验姓名并提示
    $("#name").change(function () {
        let name = $(this).val();
        if (!/^[\u4e00-\u9fa5]{0,10}$/.test(name)) {
            $("#name_prompt").text("请输入正确的汉语姓名")
        } else {
            $("#name_prompt").text("")
        }
    });
    // 实时检验性别并提示
    $("#gender").change(function () {
        let gender = $(this).val();
        if (gender == "") {
            $("#gender_prompt").text("请选择性别");
        } else {
            $("#gender_prompt").text("");
        }
    });
    // 实时检验密码并提示
    $("#password").change(function () {
        let password = $(this).val();
        if (!/^([\w_]{6,20})$/.test(password)) {
            $("#password_prompt").text("密码必须是6-20位的字母、数字或下划线")
        } else {
            $("#password_prompt").text("")
        }
    });

    // 提交表单
    $("#btn").click(function () {
        let url = "/user/register";
        let param = {
            "phone": $("#phone").val(),
            "stu_id": $("#stu_id").val(),
            "name": $("#name").val(),
            "gender": $("#gender").val(),
            "password": $("#password").val()
        };
        $.post(url, param, function (res) {
            $("#result").html(res)
        });
    })
</script>
</body>
</html>